* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

.navbar {
  background-color: #223478;
  -webkit-box-shadow: 0px .2rem 1rem gray;
          box-shadow: 0px .2rem 1rem gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
}

nav button {
  background-color: transparent;
}

nav button i {
  color: #fff;
}

.c-nav-btn:hover {
  outline: solid;
  outline-color: #fff;
}

.c-nav-btn:active {
  outline: solid;
  outline-color: #fff;
}

.c-nav-btn {
  position: relative;
}

.item-count-div {
  position: absolute;
  top: -.1rem;
  left: 1.1rem;
  color: #F06449;
  font-size: .7rem;
}

.cart-overlay {
  background-color: #F2CB52;
  position: fixed;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  z-index: 6;
  text-align: center;
  padding: 1rem .5rem;
  overflow-y: scroll;
  visibility: hidden;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.cart-overlay-show {
  width: 30vw;
  visibility: visible;
}

.black-overlay {
  background-color: #000;
  background-size: 100vw 100vh;
  opacity: 1;
  z-index: 10;
}

.cart-overlay-close {
  position: absolute;
  cursor: pointer;
  top: 1vh;
  right: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #223478;
}

.cart-overlay-reset {
  position: absolute;
  cursor: pointer;
  top: 1vh;
  right: 5%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #F06449;
}

.cart-item-h {
  color: #223478;
  font-weight: 500;
}

.card-cart {
  width: 100%;
  height: 15vh;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: .5rem;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
}

.cart-img {
  height: 15vh;
  width: 8vw;
  padding-bottom: .2rem;
  padding-top: .1rem;
  padding-left: .1rem;
}

.card-cart-t {
  font-size: .6rem;
  text-align: start;
  padding-left: .1rem;
}

.card-cart-t-1 {
  font-weight: 600;
}

.card-cart-t-2 {
  color: #F06449;
}

.cart-cal-item {
  font-size: .8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .3fr .4fr .3fr;
      grid-template-columns: .3fr .4fr .3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .2rem;
          column-gap: .2rem;
}

.cart-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: .5rem;
  width: 2rem;
  color: #F06449;
}

.card-cart-count {
  color: #223478;
}

.card-cart-summary {
  height: auto;
}

.cart-summary-btn {
  background-color: #223478;
  color: #fff;
}

.cart-summary-btn:hover, .cart-summary-btn:active {
  background-color: #fff;
  color: #223478;
  font-weight: 600;
}

.home {
  height: 100vh;
  background: url("../images/home-bcg.jpg") center/cover no-repeat;
  opacity: 0.7;
  text-align: center;
}

.home > div {
  width: 50vw;
  height: auto;
}

.home-card {
  background-color: #fff;
  opacity: 0.8;
}

.c-home-t1 {
  color: #F2CB52;
  font-weight: 600;
}

.c-home-t2 {
  font-weight: 500;
}

.c-home-btn {
  background-color: #fff;
  color: #223478;
  font-weight: 400;
}

.c-home-btn:hover {
  background-color: #223478;
  color: #fff;
  outline: none;
}

.c-home-btn:hover {
  background-color: #223478;
  color: #fff;
  outline: none;
}

.products {
  text-align: center;
  background-color: #fdf8e7;
}

.product-div {
  padding-top: 4rem;
}

.card-h {
  color: #F06449;
}

.product-row > .col-sm {
  margin: 1rem .3rem;
}

.product-card {
  width: 22vw;
  height: auto;
  font-size: .6rem;
  text-align: start;
  -webkit-box-shadow: 3px 3px 3px gray;
          box-shadow: 3px 3px 3px gray;
}

.card-body {
  padding: .5rem;
}

.product-img {
  width: 100%;
  height: 35vh;
  opacity: .8;
}

.card-title {
  color: #223478;
}

.card-text {
  color: #F2CB52;
}

.c-prod-btn {
  text-align: center;
}

@media (max-width: 400px) {
  html {
    font-size: 1.5rem;
  }
  .navbar-brand-logo {
    width: 130px;
    height: 60px;
  }
  .cart-overlay-show {
    width: 100vw;
    visibility: visible;
  }
  .cart-img {
    height: 15vh;
    width: 25vw;
  }
  .home > div {
    width: 80vw;
    height: auto;
  }
  .product-card {
    width: 100%;
  }
  .product-row > .col-sm {
    margin: .7rem;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  html {
    font-size: 1.5rem;
  }
  .navbar-brand-logo {
    width: 150px;
    height: 70px;
  }
  .cart-overlay-show {
    width: 60vw;
    visibility: visible;
  }
  .cart-img {
    height: 15vh;
    width: 25vw;
  }
  .product-card {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 1rem;
  }
  .navbar-brand-logo {
    width: 140px;
    height: 70px;
  }
  .product-row > .col-sm {
    margin: 1rem .3rem;
  }
  .product-card {
    width: 30vw;
  }
  .product-img {
    width: 100%;
    height: 30vh;
    opacity: .8;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 1rem;
  }
  .navbar-brand-logo {
    width: 140px;
    height: 70px;
  }
  .product-row > .col-sm {
    margin: 1rem .1vw;
  }
  .product-card {
    width: 20vw;
  }
  .product-img {
    width: 100%;
    height: 30vh;
    opacity: .8;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 1rem;
  }
  .navbar-brand-logo {
    width: 150px;
    height: 70px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  html {
    font-size: 1.3rem;
  }
  .navbar-brand-logo {
    width: 160px;
    height: 80px;
  }
  .product-card {
    width: 20vw;
  }
}

@media (min-width: 1500px) and (max-width: 1800px) {
  html {
    font-size: 1.8rem;
  }
  .navbar-brand-logo {
    width: 180px;
    height: 90px;
  }
  .product-card {
    width: 20vw;
  }
  .product-row > .col-sm {
    margin: 1rem 0vw;
  }
}

@media (min-width: 1800px) and (max-width: 2100px) {
  html {
    font-size: 2.2rem;
  }
  .navbar-brand-logo {
    width: 190px;
    height: 95px;
  }
  .product-card {
    width: 18vw;
  }
  .product-row > .col-sm {
    margin: 1rem 0vw;
  }
}

@media (min-width: 2100px) {
  html {
    font-size: 2.8rem;
  }
  .navbar-brand-logo {
    width: 190px;
    height: 95px;
  }
  .product-card {
    width: 16vw;
  }
  .product-row > .col-sm {
    margin: 1rem 0vw;
  }
}
/*# sourceMappingURL=main.css.map */