$primary-color: #223478;
$secondary-color: #F2CB52;
$tertiary-color: #F06449;
$background-light: #fff;
$background-dark: #000;
$main-font-family: 'Roboto';
$secondary-font-family: 'Roboto';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font-family, sans-serif;
}

//header section

header {
    position: relative;
}

//navbar

.navbar {
    background-color: $primary-color;
    box-shadow: 0px .2rem 1rem gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
}

nav button {
    background-color: transparent;
}

nav button i {
    color: $background-light;
}

.c-nav-btn:hover {
    outline: solid;
    outline-color: $background-light;
}

.c-nav-btn:active {
    outline: solid;
    outline-color: $background-light;
}

.c-nav-btn {
    position: relative;
}

.item-count-div {
    position: absolute;
    top: -.1rem;
    left: 1.1rem;
    color: $tertiary-color;
    font-size: .7rem;
}


//navbar style ends

//cart overlay
.cart-overlay {
    background-color: $secondary-color;
    position: fixed;
    top: 0;
    right: 0;
    width: 0vw;
    height: 100vh;
    z-index: 6;
    text-align: center;
    padding: 1rem .5rem;
    overflow-y: scroll;
    visibility: hidden;
    transition-property: width;
    transition-duration: 200ms;
}

.cart-overlay-show {
    width: 30vw;
    visibility: visible;
}

.black-overlay {
    background-color: #000;
    background-size: 100vw 100vh;
    opacity: 1;
    z-index: 10;
}

.cart-overlay-close {
    position: absolute;
    cursor: pointer;
    top: 1vh;
    right: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color: $primary-color;

}

.cart-overlay-reset {
    position: absolute;
    cursor: pointer;
    top: 1vh;
    right: 5%;
    background-color: transparent;
    border: none;
    outline: none;
    color: $tertiary-color;
}


.cart-item-h {
    color: $primary-color;
    font-weight: 500;
}

.card-cart {
    width: 100%;
    height: 15vh;
    background-color: $background-light;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: .5rem;
    box-shadow: 2px 2px 2px gray;
}

.cart-img {
    height: 15vh;
    width: 8vw;
    padding-bottom: .2rem;
    padding-top: .1rem;
    padding-left: .1rem;
}

.card-cart-t {
    font-size: .6rem;
    text-align: start;
    padding-left: .1rem;
}

.card-cart-t-1 {
    font-weight: 600;
}

.card-cart-t-2 {
    color: $tertiary-color;
}

.card-cart-t-3 {
    cursor: pointer;
    color: $primary-color;
    font-weight: 700;
    margin-top: -.5rem;
}

.cart-cal-item {
    font-size: .8rem;
    display: grid;
    grid-template-columns: .3fr .4fr .3fr;
    align-items: center;
    column-gap: .2rem;
}

.cart-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: .5rem;
    width: 2rem;
    color: $tertiary-color;
}

.card-cart-count {
    color: $primary-color;
}

.card-cart-summary {
    height: auto;
}

.cart-summary-btn {
    background-color: $primary-color;
    color: $background-light;
}

.cart-summary-btn:hover,
.cart-summary-btn:active {
    background-color: $background-light;
    color: $primary-color;
    font-weight: 600;
}

.checkoutOrder,
.checkoutOrder2 {
    position: absolute;
    text-align: center;
    top: 40vh;
    left: 35vw;
    width: 30vw;
    background-color: $secondary-color;
    visibility: hidden;
}

.checkoutOrder .card-text,
.checkoutOrder2 .card-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-color;
}


.checkoutOrder .card-text2 {
    font-size: 1rem;
    font-weight: 400;
    color: $background-light;
}

.checkoutOrderShow {
    animation-duration: 2000ms;
    animation-name: showCart;
    animation-timing-function: ease-out;
}

@keyframes showCart {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

//main section starts

//home section

.home {
    height: 100vh;
    background: url("../images/home-bcg.jpg") center/cover no-repeat;
    opacity: 0.7;
    text-align: center;
}

.home>div {
    width: 45vw;
    height: auto;
}

.home-card {
    background-color: $background-light;
    opacity: 0.8;
}

.c-home-t1 {
    color: $secondary-color;
    font-weight: 600;
}

.c-home-t2 {
    font-weight: 500;
}

.c-home-btn {
    background-color: $background-light;
    color: $primary-color;
    font-weight: 400;
}

.c-home-btn:hover {
    background-color: $primary-color;
    color: $background-light;
    outline: none;
}

.c-home-btn:hover {
    background-color: $primary-color;
    color: $background-light;
    outline: none;
}

//home section ends

//products section starts

.products {
    text-align: center;
    background-color: #fdf8e7;
}

.product-div {
    padding-top: 4rem;
}

.card-h {
    color: $tertiary-color;
}

.product-row>.col-sm {
    margin: 1rem .3rem;
}

.product-card {
    width: 22vw;
    height: auto;
    font-size: .6rem;
    text-align: start;
    box-shadow: 3px 3px 3px gray;
}

.card-body {
    padding: .5rem;
}

.product-img {
    width: 100%;
    height: 35vh;
    opacity: .8;
}

.product-img:hover {
    width: 100%;
    height: 35vh;
    opacity: .3;
}

.card-title {
    color: $primary-color;
}

.card-text {
    color: $secondary-color
}

.c-prod-btn {
    text-align: center;
}

//footer

footer {
    width: 100%;
    height: 20vh;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 1 rem;
    font-weight: 500;
}

.footer-cont {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.footer-ic a i {
    font-size: 2rem;
    color: $primary-color;
}

.footer-ic {
    font-size: 2rem;
    color: $primary-color;
}

// Small devices (phones)
@media (max-width: 400px) {
    html {
        font-size: 1.5rem;
    }

    .navbar-brand-logo {
        width: 130px;
        height: 60px;
    }

    .navbar-brand {
        margin-left: 1rem;
    }

    .c-nav-btn {
        margin-right: 1rem;
    }

    .cart-overlay-show {
        width: 100vw;
        visibility: visible;
    }

    .cart-img {
        height: 15vh;
        width: 25vw;
    }

    .checkoutOrder,
    .checkoutOrder2 {
        left: 10vw;
        width: 80vw;
    }

    .home>div {
        width: 80vw;
        height: auto;
    }

    .product-card {
        width: 100%;
    }

    .product-row>.col-sm {
        margin: .7rem;
    }


}

// Medium devices (tablets)
@media (min-width: 400px) and (max-width: 576px) {
    html {
        font-size: 1.5rem;
    }

    .navbar-brand-logo {
        width: 150px;
        height: 70px;
    }

    .navbar-brand {
        margin-left: 1rem;
    }

    .c-nav-btn {
        margin-right: 1rem;
    }

    .cart-overlay-show {
        width: 90vw;
        visibility: visible;
    }

    .checkoutOrder,
    .checkoutOrder2 {
        left: 10vw;
        width: 80vw;
    }

    .cart-img {
        height: 15vh;
        width: 25vw;
    }

    .product-card {
        width: 100%;
    }


}

// Medium devices (tablets)
@media (min-width: 576px) and (max-width: 768px) {
    html {
        font-size: 1rem;
    }

    .navbar-brand-logo {
        width: 140px;
        height: 70px;
    }

    .navbar-brand {
        margin-left: 1.5rem;
    }

    .c-nav-btn {
        margin-right: 1.5rem;
        font-size: 1.3rem;
    }

    .item-count-div {
        position: absolute;
        top: -.8rem;
        left: 1.3rem;
        color: $tertiary-color;
        font-size: 1.2rem;
    }

    .cart-overlay-show {
        width: 50vw;
        visibility: visible;
    }

    .product-row>.col-sm {
        margin: 1rem .3rem;
    }

    .product-card {
        width: 30vw;
    }

    .product-img {
        width: 100%;
        height: 30vh;
        opacity: .8;
    }

}

// Large devices (desktops)
@media (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 1rem;
    }

    .navbar-brand-logo {
        width: 140px;
        height: 70px;
    }

    .navbar-brand {
        margin-left: 2rem;
    }

    .c-nav-btn {
        margin-right: 2rem;
        font-size: 1.4rem;
    }

    .item-count-div {
        position: absolute;
        top: -.8rem;
        left: 1.3rem;
        color: $tertiary-color;
        font-size: 1.3rem;
    }

    .cart-overlay-show {
        width: 40vw;
        visibility: visible;
    }

    .product-row>.col-sm {
        margin: 1rem .1vw;
    }

    .product-card {
        width: 20vw;
    }

    .product-img {
        width: 100%;
        height: 30vh;
        opacity: .8;
    }

}

// Extra large devices (large desktops)
@media (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 1rem;
    }

    .navbar-brand-logo {
        width: 150px;
        height: 70px;
    }

    .navbar-brand {
        margin-left: 3rem;
    }

    .c-nav-btn {
        margin-right: 3rem;
        font-size: 1.5rem;
    }

    .item-count-div {
        position: absolute;
        top: -.8rem;
        left: 1.3rem;
        color: $tertiary-color;
        font-size: 1.5rem;
    }

}

@media (min-width: 1200px) and (max-width: 1500px) {
    html {
        font-size: 1.3rem;
    }

    .navbar-brand-logo {
        width: 180px;
        height: 90px;
    }

    .navbar-brand {
        margin-left: 4rem;
    }

    .c-nav-btn {
        margin-right: 4rem;
        font-size: 1.5rem;
    }

    .item-count-div {
        position: absolute;
        top: -.4rem;
        left: 1.3rem;
        color: $tertiary-color;
        font-size: 1rem;
    }

    .product-card {
        width: 20vw;
    }
}



@media (min-width: 1500px) and (max-width: 1800px) {
    html {
        font-size: 1.8rem;
    }

    .navbar-brand-logo {
        width: 180px;
        height: 90px;
    }

    .navbar-brand {
        margin-left: 5rem;
    }

    .c-nav-btn {
        margin-right: 5rem;
        font-size: 1.3rem;
    }

    .item-count-div {
        position: absolute;
        top: -.4rem;
        left: 1.3rem;
        color: $tertiary-color;
        font-size: 1rem;
    }


    .product-card {
        width: 20vw;
    }

    .product-row>.col-sm {
        margin: 1rem 0vw;
    }

}



@media (min-width: 1800px) and (max-width: 2100px) {
    html {
        font-size: 2.2rem;
    }

    .navbar-brand-logo {
        width: 220px;
        height: 110px;
    }

    .navbar-brand {
        margin-left: 4rem;
    }

    .c-nav-btn {
        margin-right: 4rem;
    }

    .item-count-div {
        position: absolute;
        top: -.4rem;
        left: 1.3rem;
        color: $tertiary-color;
        font-size: 1rem;
    }

    .product-card {
        width: 18vw;
    }

    .product-row>.col-sm {
        margin: 1rem 0vw;
    }
}


@media (min-width: 2100px) {
    html {
        font-size: 3rem;
    }

    .navbar-brand-logo {
        width: 280px;
        height: 150px;
    }

    .navbar-brand {
        margin-left: 5rem;
    }

    .c-nav-btn {
        margin-right: 5rem;
        font-size: 1.5rem;
    }

    .item-count-div {
        position: absolute;
        top: -.4rem;
        left: 1.5rem;
        color: $tertiary-color;
        font-size: 1.2rem;
    }

    .product-card {
        width: 16vw;
    }

    .product-row>.col-sm {
        margin: 1rem 0vw;
    }
}